/*
Theme Name: Beaver Builder Child Theme
Theme URI: http://www.wpbeaverbuilder.com
Version: 1.0F
Description: An example child theme that can be used as a starting point for custom development.
Author: The Beaver Builder Team
Author URI: http://www.fastlinemedia.com
template: bb-theme
*/

/* custom css start here */
.fl-slide-text > p {
    margin: 0px!important;
    padding: 0px!important;
}
.fl-slide-text > .fl-builder-content  {
    margin: 0px!important;
}
.custombanneralert {
    text-align: center;
    font-size: 22px;
    padding: 12px 8px;
    color: #fff;
}
.fl-slide-photo-wrap {
    width: auto!important;
}
.fl-module .fl-slide .fl-slide-foreground {
    width: 100%!important;
}
.fl-slide-text > p {
    margin: 0px!important;
}
.fl-slide-text > .fl-builder-content {
    margin: 0px!important;
}
.fl-builder-content .fl-module-content-slider .fl-slide .fl-slide-content {
    margin: 0 !important;
    padding: 0px!important;
}
.mapLocation .uabb_map_info_text .storename .address > p:first-child{
	margin-bottom: 0px!important;
	margin-top: 10px!important;
}
.mapLocation .uabb_map_info_text .store-opening-hrs{
	padding-left: 0px!important;
}
.need-share-button_button{
    border: none!important;
	padding-top: 0px!important;
padding-bottom: 0px!important;
}
.need-share-button_button:before{
    content: "\f1e0";
    font: normal normal normal 28px/1 FontAwesome;
    color: #428bca;
    font-size: 24px;
}
.instockPdp .share .need-share-button_button {
    background-image: url('https://www.greatfloors.com/wp-content/themes/bb-theme-child/images/share/share-icon.png');
    height: 28px;
    width: 28px;
    background-repeat: no-repeat;
}
.instockPdp .share .need-share-button_button:before {
    content: ""!important;
}
.uabb-creative-menu.off-canvas .menu li a span.menu-item-text{
	color: #000 !important;
}
.fl-post-header > .fl-post-title {
    color: #0079c1!important;
}
.inlineInfo * {
    display: inline-block!important;
}
.product-detail-layout-6 .product-swatch .img-responsive {
   background-size: 100% 100%!important;
}
.product-detail-layout-6 .toggle-image-thumbnails {
    padding: 0 0px!important;
}
.fl-node-5fe4817448392 .uabb-gf-style .gform_wrapper .gfield select{
	    margin-top: 0px!important;
}
.imgCenter .uabb-image-content{
	margin: 0 auto!important;
    display: block!important;
    text-align: center;
}

.uabb-gf-style .gform_wrapper .gfield .ginput_container_select > select{
	    margin-top: 0px!important;
}
.PDP_form .gform_wrapper .gfield .ginput_container select{
    padding-top: 6px!important;
    padding-bottom: 6px!important;
}
.gfield select{
	background-color: #fff!important;
}

.custom_searchModule {
    display: none;
    z-index: 2;
    position: absolute;
    right: 0px;
    left: auto;
    padding: 5px 20px;
	max-width: 600px;
	width: 100%!important;
}
.custom_searchHeader .fl-icon:hover{
	cursor: pointer!important;
}
#input_16_9{
	margin-top: 0px!important;
}
.grey-back .product-box .col-md-6 h1, .product .product-box h1{
	color: #0079c1!important;
font-size: 24px;
}
/* custom css end here */
.instockPdp .button-wrapper-default a{
	border-radius: 5px!important;
	-webkit-border-radius: 5px!important; 
  	-moz-border-radius: 5px!important; 
  	border-radius: 5px!important; 
}
.instock .product-grid.btn-grey>h4>span:nth-child(1) {
    min-height: 30px;
}
 .search-row {
 	padding: 20px!important;
 }
 .search-row a{
 	border-radius: 0px!important;
 }
.row100 .fl-row-content{
	width: 100%!important;
}
.mesurmentTool:hover{
	cursor: pointer;
}
.descriptionVideo .uabb-vg__play_full{
	    left: 0!important;
}
#modal-600668228a9d4 h3{
    font-size: 24px!important;
    color: #000!important;
    margin: 20px 0px -10px 20px!important;
}
#modal-600668228a9d4 textarea{
   min-height: 120px!important;
}

#modal-600668228a9d4 input[type=submit]{
   margin-top: -20px!important;
    border-radius: 40px!important;
width: 120px!important;
    color: #fff!important;
    letter-spacing: 2px!important;
	    position: static!important;
    margin-left: 0px!important;
}

#modal-600668228a9d4 .uabb-modal-close{
    top: 0px!important;
    margin-left: -40px!important;
    margin-top: 20px!important;
}
#modal-600668228a9d4 .uabb-modal-close i{
    color: #2d6ca2!important;
    font-size: 30px!important;
}

/* text show popup css  */

#modal-6006e6c6484bd .uabb-modal-text  {
	    padding: 40px 20px!important;
}
#modal-6006e6c6484bd .uabb-modal-text p {
	padding: 40px 20px!important;
    background-color: #c3c3c32e!important;
}
#modal-6006e6c6484bd .uabb-modal-close{
        top: -10px!important;
    margin-left: -40px!important;
    margin-top: 20px!important;
}
#modal-6006e6c6484bd .uabb-modal-close i{
    color: #2d6ca2!important;
    font-size: 30px;
}
#modal-6006e6c6484bd h3{
    font-size: 24px!important;
    color: #000!important;
    margin: 20px 0px -10px 0px!important;
}

/*Instock plp css*/
.instock .product-variations1 .plp_box_orderBtn{
	display: block!important;
}
.instock .product-variations1 .plp_box_orderBtn{
	color: #fff;
    background-color: #848689!important;
    border-style: none;
    border-width: 0px;
    border-radius: 0px;
}
.instock .product-variations1 .plp_box_orderBtn:hover, .instock .product-variations1 .plp_box_orderBtn:focus{
	color: #fff;
    background-color: #0079c1!important;
    font-family: "Josefin Sans",sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.2;
    text-transform: uppercase;
}
.instock .product-variations1 .plp_box_btn{
	margin-top: 10px!important;
}
.instock .product-variations1 .price{
	margin-top: 10px!important;
	color: #000000;
     font-family: "Roboto Condensed", sans-serif;
    font-weight: bold;
  font-size: 27.65px;
  letter-spacing: 0.29px;
  line-height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.product .product-swatch .product-swatch-inner .favProdPdp, .product-row .favProdPdp{
	cursor: pointer!important;
}
.instock .product-variations1 .price sub{
	    font-size: 16px;
    vertical-align: middle;
}
.instock .product-variations1 .price sup{
	    font-size: 16px;
}
.instock .product-row .fl-post-grid-post .instockImgPlp{
	position: absolute;
    top: 0;
    left: 4px;
}
.instockPdp .product-attributes tr td{
	text-align: left!important;
}
/*Instock plp css end*/
/*Instock pdp css start here */
.PDP_form .uabb-gf-style{
	padding-bottom: 0px!important;
}
.PDP_form .uabb-tab-acc-content{
	border: none!important;
	background-color: #f6f6f6;	
}
.PDP_form .uabb-tabs-nav ul li:not(.uabb-tab-current) a{
	background-color: #20A276!important;
	color: #fff!important;
}
.PDP_form .uabb-tabs-nav ul li:first-child{
	margin-right: 0px!important;
}
.PDP_form .uabb-tabs-nav ul li:last-child{
	margin-left: 0px!important;
}
.PDP_form .uabb-content{
	padding: 0px!important;	
}
.PDP_form .uabb-gf-form-desc{
	text-align: center!important;	
}
.PDP_form .uabb-tab-acc-content{
	border: none!important;
}
.PDP_form select, .PDP_form input[type=text], .PDP_form input[type=email], .PDP_form textarea, .PDP_form .uabb-gf-style .gform_wrapper .gform_body .gfield select, .PDP_form .uabb-gf-style .gform_wrapper .gform_body .gfield input[type=text], .PDP_form .uabb-gf-style .gform_wrapper .gform_body .gfield input[type=email]{
	border-radius: 5px;
    border: 1px solid #ccc;
    margin-top: 0px!important;
}
.PDP_form select, .PDP_form input[type=text], .PDP_form input[type=email]{
	height: 48px!important; 
}
.PDP_form .mesurmentTool > div{
	padding: 0px!important;
}
.PDP_form .mesurmentTool{
	display: flex;
    align-items: center;
    position: absolute;
    top: 35px;
}

.instockPdp input[type=submit]{
	border-radius: 5px!important;
	-webkit-border-radius: 5px!important; 
  	-moz-border-radius: 5px!important; 
  	border-radius: 5px!important; 
}

.PDP_form .mesurmentTool > div:last-child{
	margin-left: 6px!important;
}
.PDP_form  input[type="radio"], .PDP_form  input[type="checkbox"]{
	margin-top: 0px!important;
}
.PDP_form .liMeasur{
	position: relative;
}
.PDP_form .ginput_container_checkbox label{
	font-size: 12px!important;
	    font-family: "Roboto",sans-serif;
}
.PDP_form .ginput_container_checkbox .gfield_checkbox{
	display: flex;
}
.PDP_form .uabb-gf-style .gform_body .ginput_container_checkbox .gfield_checkbox li label{
	padding-right: 6px!important;
}
.PDP_form .uabb-gf-style .gform_body .ginput_container_checkbox .gfield_checkbox li {
	flex: 1 1 auto;
}
.PDP_form textarea{
	height: 160px!important;
}
.instockPdp .product-colors > .row{
	display: flex;
    align-items: flex-end;
}
.instockPdp .share div{
	color: #575757;
  font-family: Roboto;
  font-size: 12px;
  letter-spacing: 0.21px;
  line-height: 16px;
}
.instockPdp .product-box.pdp2-leftbox > .row{
	display: flex;
    align-items: flex-end;
}
/* .instockPdp .share span{
	color: #575757;
  font-family: Roboto;
  font-size: 12px;
  letter-spacing: 0.21px;
  line-height: 16px;
} */
.instockPdp .share ul, .instockPdp .share ul li{
	margin-top: 0px!important;
	margin-bottom: 0px!important;

}
.instockPdp .MarkInstock{
	padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.instockPdp .MarkInstock span{
	color: #20A276;
    font-family: "Josefin Sans";
    font-size: 20.65px;
    font-weight: bold;
    letter-spacing: 0.36px;
    line-height: 20px;
    margin-left: 8px;
    align-items: center;
}
.instockPdp .price {
    margin-top: 10px!important;
    color: #000000;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: bold;
    font-size: 27.65px;
    letter-spacing: 0.29px;
    line-height: 36px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.instockPdp .product-box h2{
	color: #000!important;
}
.instockPdp .product-box h1{
	color: #000!important;
}
.instockPdp .product-detail-layout-default .product-swatch{
	margin-top: 0px!important;
}	
.instockPdp .product-box.pdp2-leftbox{
	 padding-top: 50px;
}
.instockPdp .product-colors ul li {
    margin-bottom: 10px;
}
.instockPdp .product-colors ul li {
    margin-bottom: 10px;
}
.instockPdp .product-colors, .instockPdp .product-attributes > h3 {
	text-align: left!important;
}
.instockPdp .slick-track .slide{
	margin-bottom: 0px!important;
	    padding: 0px 4px;
}
.product-swatch-inner #product-images-holder a .main-imgs img {
    position: absolute;
    bottom: auto!important;
    left: 0px;
    top: 0;
    right: 0px;
    margin: auto;
}
.instockPdp #product-images-holder .img-responsive{
	background-position: center top!important;
}   
.instockPdp .toggle-image-thumbnails {
	margin-top: 0px!important;
}
.instockPdp .productHolder{
	position: relative;
}
.instockPdp .product-swatch .product-swatch-inner .favProdPdp {
    position: absolute;
	top: auto!important;
    bottom: 50px!important;
    left: auto;
    right: 10%!important;
}
.instockPdp .product-detail-layout-default .product-variations{
	width: 100%;
	margin: 0 auto!important;
}
.instockPdp .button-wrapper-default a, .button-wrapper-default a.button{
	width: 100%;
}

/*Instock pdp css end here */
.favProWarpper .prod_like_wrap .favButtons .buttonHolder .view_note_fav{
	background-color: #fff;
    display: inline-block!important;
    padding: 12px 14px!important;
    width: auto!important;
    border-radius: 100%;
    margin-left: 20px!important;
}
.favProWarpper .prod_like_wrap .favButtons .buttonHolder .view_note_fav i:before{
	font: normal normal normal 16px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    text-decoration: inherit;
    vertical-align: middle;
    color: #0079c1!important;
    font-size: 26px;
}
.favProWarpper .prod_like_wrap .favButtons .remove-parent{
	background-color: #fff;
	display: inline-block!important;
	padding: 12px 14px!important;
    width: auto!important;
    border-radius: 100%;
}
.favProWarpper .prod_like_wrap .favButtons .remove-parent i:before{
	font: normal normal normal 16px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    text-decoration: inherit;
    vertical-align: middle;
    color: #0079c1!important;
    font-size: 26px;
}
.product-detail-layout-5 .button-wrapper > a {
    display: inline-block;
    min-width: 250px;!important;
}
.product-detail-layout-5 .button-wrapper #roomvo{
    width: 100%!important;
}
.product-detail-layout-5 .button-wrapper #roomvo a{
    display: inline-block;
    min-width: 250px;!important;
 max-width: 250px;!important;
    margin: 0 auto!important;
    margin-top: 10px!important;
    text-transform: uppercase!iimportant;
}
.product-detail-layout-5 .button-wrapper > a:first-child:hover {
    color: #fff;
    border-color: initial;
    background-color: #848689;
    border-style: none;
    border-width: 0px;
    border-radius: 0px;
}
.product-detail-layout-5 .product-swatch {
        	position: relative;
        }
.product-detail-layout-5 .product-swatch .favProdPdp {
        	position: absolute;
    top: 370px;
    z-index: 9;
    left: auto;
    right: 55px;
    background-color: #fff;
    padding: 12px;
    border-radius: 100%;
}
.product-detail-layout-5 .product-swatch .favProdPdp i {
    font-size: 30px!important;
}
.favProWarpper .product-row>div.col-md-4:nth-child(4n+1){
    clear: left;

}
.facet_filters .facet-wrap>strong {
    padding-bottom: 3px;
    border-bottom: 2px solid #0079c1;
    color: #0079c1!important;
}
/* Fav button css */
.favProdPdp .fa-heart-o:before {
    content: "\f08a";
    font: normal normal normal 16px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    text-decoration: inherit;
    vertical-align: middle;
    
}
.favProdPdp .fa-heart:before{

	font: normal normal normal 16px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    text-decoration: inherit;
    vertical-align: middle;
}
.product #product-images-holder .favProdPdp{
	position: absolute;
    z-index: 9;
    bottom: 15px;
    right: 40px;
    padding: 12px;
    border-radius: 100%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.product #product-images-holder .favProdPdp i{
	font-size: 30px;
}
.product .product-swatch .product-swatch-inner{
        	position: relative;
}
.product .product-swatch .product-swatch-inner .favProdPdp {
        	position: absolute;
		    top: 430px;
		    z-index: 9;
		    left: auto;
		    right: 85px;
		    background-color: #fff;
		        padding: 12px 12px 8px 12px;
		    border-radius: 100%;
}
.product .product-swatch .product-swatch-inner .favProdPdp i{
	font-size: 30px;
}
/* for plp css */
.product-plp-grid .product-row .fl-post-grid-post{
	position: relative;
}

.product-plp-grid .product-row .fl-post-grid-post .favProdPLP .favProdPdp {
	background-color: #fff!important;
    display: block;
    padding: 10px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.product-plp-grid .product-row .fl-post-grid-post .favProdPLP .favProdPdp i{
	font-size: 20px;
}
.product-plp-grid .product-row .fl-post-grid-post .favProdPLP{
	position: absolute;
    left: auto;
    right: 10px;
    bottom: 8px;
}
.product-variations1{
    margin-bottom: 20px;
}
/* Fav button css end */
/*WorkBook css */
#printMe .product-row>div.col-md-4:nth-child(3n+1) {
	    clear: none!important;
}
#printMe .favButtons.button-wrapper #roomvo {
    	width: auto !important;
}
#printMe .favButtons.button-wrapper #roomvo .roomvo-container >  a{
    	    visibility: visible;
		    margin-bottom: 10px;
		    border-radius: 60px;
		    width: 150px!important;
		    padding: 12px 0px 8px 0px;
}
#printMe .favButtons.button-wrapper #roomvo .roomvo-container >  a:hover{
    cursor: pointer;
}
.product-swatch-inner .wpfp-span .wpfp-link{
    	    color: #fff;
		    background-color: #0079c1;
		    font-family: "Josefin Sans",sans-serif;
		    font-weight: 400;
		    font-size: 14px;
		    line-height: 1.2;
		    width: 90%;
		    border-radius: 0px;
		    border: none;
		    padding: 10px 0;
		    margin: 10px auto;
	}
	.product-swatch-inner .wpfp-span .wpfp-link:hover{
	    color: #fff;
	    border-color: initial;
	    background-color: #848689;
	    border-style: none;
	    border-width: 0px;
	    border-radius: 0px;
	}
.favProWarpper{
	max-width: 992px;
    margin: 0 auto;
	position:relative;
}
.shareAndPrint{
	position: absolute;
    top: 20px;
    right: 40px;
    width: 100px;
    display: flex;
    justify-content: space-around;
}
.shareAndPrint a i{
    font-size: 20px;
}
#mesureMentprintMe .product-row>div.col-md-4:nth-child(3n+1) {
    clear: none;
}

.favProWarpper h2{
	font-size: 32px;
	line-height: 1em;
    color: #0076C6;
}
.favProWarpper .product-plp-grid h3{
	font-size: 22px;
    color: #4F4F4F;
}
.favProWarpper .heading-title, .favProWarpper .heading-text{
	text-align: center;	
}
.favProWarpper .statiContent{
	text-align: center;	
}
.favProWarpper .favButtons{
	position: absolute;
    top: 150%;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: all 0.3s;
    -webkit-transition: all 0.5s;
}

.favProWarpper .product-row .fl-post-grid-image:hover .button-wrapper {
    top: 0;
}
.wpfp-span .wpfp-link{
	border-radius: 60px;
    font-size: 12px;
    color: #fff;
    height: 40px!important;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 9px;
    width: 150px;
    margin: 0 auto;
    background-color: #0079c1;
	text-transform: uppercase;
	    font-family: "Josefin Sans",sans-serif;
    font-weight: 400;
}
.wpfp-span .wpfp-link:hover{
	background: #848689;
	text-decoration: none;
}
.favProWarpper .product-row .fl-post-grid-image.prod_like_wrap {
    position: relative;
    overflow: hidden;
    margin-bottom: 15px;
    background: #fff;
    width: 100%;
    min-height: 280px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

}
.favProWarpper .product-row .fl-post-grid-image.prod_like_wrap > a {
	width: 100%;
}
.favProWarpper .product-row .fl-post-grid-image.prod_like_wrap img{
	margin-bottom: 0px!important;	
	max-height: 280px!important;		
}
.favProWarpper .product-row .fl-post-grid-image .button-wrapper .fl-button {
    border-radius: 60px;
    font-size: 12px;
    color: #fff;
    height: 40px!important;
    width: 150px!important;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 9px;
	    padding-top: 12px;
}
.favProWarpper .product-row .fl-post-grid-image .button-wrapper .wpfp-link.remove-parent {
 background-color: #fff;
	color: #0079c1;
    font-family: "Josefin Sans",sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.2;
    text-transform: uppercase;
    border-style: none;
    border-width: 0px;
    border-color: initial;
width: auto;
        padding: 11px 15px;
    border-radius: 20px;
}
.favProWarpper .product-row .fl-post-grid-image .button-wrapper .wpfp-link.remove-parent i {
	font-size: 18px!important;
}
/* measuremnt popup */


.measurepopup {
    width: 90%;
    overflow: hidden;
    margin: 0 auto!important;
    max-width: 1100px;
    padding: 20px;
    text-align: center;
    background-color: #fff;
    box-shadow: 0px 0px 10px #000;
    z-index: 9999;
    margin-top: 50px;
    margin-bottom: 50px;
}
.measurepopup .row h3 {
    font-weight: 700;
    color: #000;
    text-align: left;
    color: #4F4F4F;
  font-size: 23px;
  letter-spacing: 0.22px;
  line-height: 41px;

}
.measurepopup .row {
    display: flex;
    align-items: center;

}
.measurepopup .sharingBox a i{
    font-size: 24px!important;
    padding: 20px
    ;
}
.measurepopup .sharingBox{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.measurepopup img {
   display: inline-block;
    max-width: 100%;
    height: auto;
}
.overlayMeasure, .overlayShareBox{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9999;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    outline: 0;
    background: rgba(0,0,0,0.4);
    display: flex;
    justify-content: center;
    align-items: center;
}
.overlayShareBox{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999999;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    outline: 0;
    background: rgba(0,0,0,0.4);
    display: flex;
    justify-content: center;
    align-items: center;
}
/*Measuremnt popup end here*/
@media(min-width: 768px) {
.brandSlider .uabb-image-carousel .slick-track {
    display: flex;
    align-items: center;
}

.formWrapperPdp > div{
	padding: 40px 0px 0px!important;
}
.PDP_form .gfield{
	padding-right: 15px!important;
}
	.favProWarpper{
	padding: 60px 42px!important;
}
.favProWarpper .statiContent{
	text-align: center;	
	width: 90%;
	margin: 0 auto!important;
}
}
/*Work book css end here */
.header_store > .store_wrapper .title-prefix i{
	margin-left: 5px!important;
}

/* flyer css start here */
.changeLocation {
    position: fixed;
    top: 0;
    right: -100%;
    width: 90%;
	max-width: 400px;
    height: 100%;
    overflow: auto;
    background-color: #fff;
    color: #ffff;
	z-index: 9999999;
    -moz-box-shadow: 5px 5px 5px 6px rgba(0,0,0,0.4);
    -webkit-box-shadow: 5px 5px 5px 6px rgba(0,0,0,0.4);
    box-shadow: 5px 5px 5px 6px rgba(0,0,0,0.4);
    transition: all 0.6s;
}
.product-swatch-inner #product-images-holder a .main-imgs img{
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin: auto;
}
.product-banner-img{
 background-position: 100% 75%!important;
}
.content .title-prefix, .content .store-add{
	margin: 0px!important;
}
.content .store-add{
	color: #333;
    font-family: "Montserrat",sans-serif;
    font-weight: 500;
}
.button-wrapper #roomvo {
	    width: 44% !important;
}
.button-wrapper #roomvo button{
	    width: 100% !important;
		margin: 10px 0 !important;
	    text-transform: uppercase;
	    padding: 10px 25px !important;
}
.product-box .button-wrapper a.button,
.product-detail-layout-5 .button-wrapper .button{
	    text-transform: uppercase !important;
	 padding: 10px 25px !important;
}
.product-detail-layout-5 .fl-post .fl-post-content .row:first-child{
    margin: 50px 0 0 0;
}
.content .store-cta-link:before{
	content: "\f061";
	display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    color: #000;
	margin-right: 4px!important;
}
#storeLocation .content a{
	color: #333!important;
    font-size: 14px!important; 
}	
#storeLocation .content a:hover{
	color: #d4da5f!important;
}
#storeLocation .store-hour.phone{
	color: #333!important;
    font-size: 14px!important;

}
#storeLocation .title-prefix, .header_store .store-cta-link .title-prefix{
	font-size: 16px!important;
    font-weight: 900!important;
	font-family: "Josefin Sans",sans-serif;

}
#storeLocation .store_wrapper p, 
#storeLocation .store_wrapper h5, 
#storeLocation .store_wrapper a{
	font-family: "Josefin Sans",sans-serif;
	text-transform: uppercase;
}
.header_store .title-prefix > a {
	font-weight: 600;
}
.content .store_wrapper {
padding: 40px 20px;
border-bottom: 1px solid rgba(204,204,204,0.28);
    margin: auto;
}
.changeLocation .content {
	padding: 40px 20px;
}
.changeLocation .closebtn {
    position: absolute;
    top: 0;
    left: 15px;
    font-size: 50px;
    margin-left: 20px;
    font-weight: 100;
    color: #9b9b9b!important;
}
.changeLocation .closebtn:hover{

 color: #000;
}
.locationWrapFlyer {
    display: flex;
    justify-content: center;
}

.locationWrapFlyer .icons > i {
    font-size: 34px;
    color: #d4da5f!important;
}

.locationWrapFlyer .icons {
    padding: 0px 12px 12px 12px;
}

.locationWrapFlyer .contentFlyer > p, .contentFlyer  h3 {margin: 0px;}

.locationWrapFlyer .contentFlyer h3 {
    font-size: 18px;
    font-weight: 900;
}
.locationWrapFlyer a#openFlyer {
    font-size: 12px;
	    font-style: normal;
	color: rgb(255 255 255 / 0.9)!important;
}
.locationWrapFlyer .contentFlyer h3{
    color: #fff!important;
}

#storeLocation .store-hour{
	color: #000!important;
}
#storeLocation .content {
/* 	color: #FFF;  */
    width: 90%;
	margin: 0 auto;
}
.contentFlyer *:not(i){
	font-family: "Josefin Sans",sans-serif;
    text-transform: uppercase;

}
.contentFlyer p.store-phone {
    margin-top: 6px!important;
	font-size: 16px;
}
.contentFlyer p{
    letter-spacing: 1px;
	line-height: 0.9em;
	    font-size: 15px;
	color: rgb(255 255 255 / 0.9)!important;
}    
/* flyer css end here */
/* Measurment tool css start here  */
.mesureMentWrap img.measure_img{
	max-height: 80px!important;
    width: auto!important;
    max-width: 90%!important;
    margin: 0 auto!important;
}
 
.mesureMentWrap{
	position:relative;
    overflow: hidden;
	min-height: 220px!important;
}
.mesureMentWrap .favButtons{
	position: absolute;
    top: 150%;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: all 0.8s;
    -webkit-transition: all 0.8s;
}
#mesureMentprintMe .product-row .mesureMentWrap:hover .favButtons {
    top: 10%;
     transition: all 0.6s;
    -webkit-transition: all 0.6s;
}
#mesureMentprintMe.product-grid .product-row .fl-post-grid-post .fl-post-grid-image>a {
    background-color: rgba(0,0,0,0.2);
}
.mesureMentWrap .button-wrapper {
    font-size: 12px;
    border-radius: 50px;
    display: flex;
    align-items: flex-end!important;
    padding-bottom: 0px;
transition: all 1.1s;
}
.mesureMentWrap .button-wrapper > a{
    font-size: 12px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 24px;
}
.mesureMentWrap .button-wrapper > a:hover{
    border-radius: 50px;
}
.mesureMentWrap .button-wrapper > a:first-child{
    width: 120px;
}
.mesureMentWrap .button-wrapper > a:last-child{
    padding: 16px 16px;
    display: flex;
    align-items: center!important;
    justify-content: center!important;
	background-color: #fff!important;
}
.mesureMentWrap .button-wrapper > a:last-child:hover{
    padding: 16px 16px;
    border-radius: 50px;
}
.mesureMentWrap .button-wrapper > a:last-child i{
    margin: 0px!important;
	color: #0079c1!important;
}
.mesureMentWrap .button-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly!important;
}
#mesureMentprintMe .fl-post-grid-post h3{
	margin: 12px 0px 0px; 
    font-size: 20px;
    color: #4F4F4F;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 21px;
}
/*Measuremnt tool css end here */
.signinButton .fl-button-wrap .fl-button{
	    margin: 0 auto;
    margin-top: 60px;
    border-radius: 40px;
    height: 45px;
    width: 153px;
    letter-spacing: 2px;
    line-height: 33px;
    text-align: center;
	padding: 0px!important; 
	    display: flex;
    align-items: center;
    justify-content: center;
}
.signinButton .fl-button-wrap .fl-button:hover{

    border-radius: 40px;
}
.workbookImages h3.uabb-simplify{
	margin-bottom: 20px!important;
}

.registerationForm .user-registration{
	border: none!important;
    padding: 0px!important;
}
.registerationForm .user-registration input[type=text]{
	border: 1px solid #ccc;
    height: 46px;
    
}
.registerationForm .user-registration input[type=text], .registerationForm .user-registration input[type=email], .registerationForm .user-registration input[type=password], .registerationForm .user-registration select {
	border: 1px solid #ccc;
    height: 46px;
}
.registerationForm .ur-submit-button, .user-registration .ur-submit-button{
	margin: 0 auto!important;
    margin-top: 60px!important;
    border-radius: 40px!important;
    width: 153px;
    height: 45px;
    font-family: Montserrat, sans-serif!important;
    font-weight: 400!important;
    font-size: 16px;
    letter-spacing: 2px!important;
    text-transform: uppercase!important;
	color: #fff!important;
}
.registerationForm .field-radio ul, .user-registration .field-radio ul{
	padding-left: 0px!important;
}
.registerationForm .user-registration .field-radio ul label{
	    font-weight: 600!important;
    font-size: 12px!important;
	
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #4F4F4F!important;
}
.uabb-faq-module .uabb-faq-question-label{
	border: none!important;
	outline: none!important;
}
.teamSec .fl-module.fl-module-team {
    min-height: 360px;
}
.borderNone .uabb-adv-accordion .uabb-adv-accordion-button, .borderNone .uabb-adv-accordion .uabb-adv-accordion-button .uabb-adv-accordion-button-label{
	border: none!important;
	outline: none!important;
}
.uabb-modal .gform_footer input[type=submit]{
	    border: 0px;
    border-radius: 0px;
    color: #fff;
    text-transform: uppercase;
    font-family: Montserrat, sans-serif;
    letter-spacing: 1px;
    font-weight: 300;
}
.careerAccordian .uabb-adv-accordion-content p > a{
	margin-top: 10px;
}
.gform_wrapper.gf_browser_chrome .gfield_checkbox li input, .gform_wrapper.gf_browser_chrome .gfield_checkbox li input[type=checkbox], .gform_wrapper.gf_browser_chrome .gfield_radio li input[type=radio] {
    margin-top: 0px!important;
}
.fl-row.element-is-sticky{
	width: 100%!important;
}


.uabb-gf-style .timeEstimate input[type=text], .uabb-gf-style .gform_wrapper .gfield.timeEstimate select{
	margin-top: 0px!important;
	padding: 15px 3px!important;
}
.gform_wrapper .gfield_time_hour i{
	margin-top: 0px!important;
}
 .uabb-gf-style .gform_wrapper .gfield.timeEstimate select{
	    min-width: 60px!important;
}
.product-grid .fl-post-grid-post {
    margin-bottom: 20px!important;
}
.product-grid.btn-grey h4 {
    min-height: 50px;
}
form.register .g-recaptcha{
    margin-left: 10px!important;
}
/* responsive css start here */
@media(min-width: 768px) {
.gfield{
	padding-right: 15px!important;
}
.uabb-gf-style{
	padding-right: 5px!important;
}
}
@media(max-width: 1024px) and (min-width: 768px){
.colAlign .fl-col-group > .fl-col{
	width: 25%!important;	
}

.product-box h1{
	 font-size: 30px!important;
}
.manageFontOnipad h2{
	font-size: 18px!important;	
}
}	
@media(max-width: 1024px) {
.tabletCenter .fl-button-wrap {
    text-align: center!important;
}
.uabb-off-canvas-menu #menu-top-bar-ctas-1 li a span i {
    display: inline;
}
.instockPdp .product-swatch .product-swatch-inner .favProdPdp {

    right: 15%!important;
}
.instockPdp .product-detail-layout-default .product-swatch-inner{
	padding: 20px!important;
}
header .uabb-marketing-button-wrap .uabb-marketing-btn__link{
	padding: 10px 20px!important;
}
.teamSec .uabb-module-content .uabb-team-name-text{
	font-size: 16px!important;
}
.teamSec .fl-module.fl-module-team {
    min-height: 300px;
}
.FlexOnMobile .uabb-module-content{
	display: flex;
    flex-direction: column;
}
.FlexOnMobile .uabb-infobox-content{
	width: 100%!important;
}	
.fontIssueonipad h3, .fontIssueonipad h4, .fontIssueonipad h2{
	font-size: 35px!important;
} 
}
@media(max-width: 768px) {
.shop-online-btn .uabb-marketing-button-wrap.uabb-marketing-button-reponsive-center {
    text-align: left!important;
}
	.instockPdp .product-colors > .row {
    display: flex;
    align-items: center;
    justify-content: center;
}
.instockPdp .price {
    display: flex;
    justify-content: center;
    align-items: center;
}
.instockPdp .product-box.pdp2-leftbox {
    padding-top: 0px;
}
.registerationForm .ur-form-row .ur-form-grid{
	padding: 0px!important;
}
.fl-post.post .row.fl-post-image-beside-wrap .fl-post-image-beside{
    width: 100%;
}
.max-width-issuefour{
	max-width: 400px!important;
	margin: 0 auto!important;
}
.max-width-issue{
	max-width: 360px!important;
	margin: 0 auto!important;
}
 .uabb-off-canvas-menu #menu-top-bar-ctas-1 li a span i{
	display: inline;
}
header .hamburger {
	outline: none!important;
	border: none!important;
}
.topBar .fl-row-content .fl-col-group{
	display: flex;
}

/* Slider height issue on mobile open */

.fl-content-slider .fl-slide-bg-photo {
    position: absolute!important;
    min-height: 500px!important;
}
.fl-content-slider .fl-slide-foreground .fl-builder-content .fl-row > .fl-row-content-wrap {
    min-height: 500px;
}
.fl-slide-mobile-photo {
    z-index: +2;
    position: relative;
    max-height: 500px!important;
    text-align: center!important;
    vertical-align: middle;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}
.fl-slide-mobile-photo > img{
    padding: 50px;
    max-height: 500px!important;
    width: auto;
    margin: 0 auto;
}
.fl-content-slider .fl-slide {
    min-height: 500px !important;
    max-height: 500px !important;
}
.fl-content-slider .fl-slide-bg-link{
    z-index: 2;
}
/* Slider height issue on mobile closed */

}
@media(max-width: 767px) {
.instockPdp .productHolder {
    position: relative;
    display: flex;
    flex-direction: column;
}
.instockPdp .productHolder > div:first-child{
    order: 2;
}
.product-box.pdp2-leftbox > .row {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.PDP_form .ginput_container_checkbox .gfield_checkbox {
    display: flex;
    flex-direction: column;
}
.mobileVertical .uabb-infobox-left-right-wrap{
	display: flex;
    flex-direction: column;
}
.mobileVertical .uabb-infobox-left-right-wrap > div{
	width: 100%!important;
}
.tabsNewOne .uabb-faq-questions-button{
	border-radius: 0px!important;			
}
.favProWarpper{
	padding: 0px 20px!important;
    margin: 0px 20px;		
}
.favProWarpper .shareAndPrint {
    top: -20px;
    right: 00px;
}
/*.topBar .fl-row-content .fl-col-group{
	display: block;
}*/
	
.gform_wrapper ul.gform_fields .gfield_time_hour i {
    margin-top: 20px !important;
}

.gform_wrapper ul.gform_fields li.gfield div.gfield_time_ampm select {
    height: 50px;
    -webkit-appearance: auto;
}	
}
@media(max-width: 667px) {
.product .product-swatch .product-swatch-inner .favProdPdp {
    top: 420px;
    right: 65px;
}
}
@media(max-width: 640px) {
	.PDP_form .mesurmentTool {
    position: static;

}
.instockPdp .fl-builder-content{
	padding: 0px!important;
}
}
@media(max-width: 525px) {
.product .product-swatch .product-swatch-inner .favProdPdp {
    top: 350px;
    right: 55px;
}
}
@media(max-width: 425px) {
.product .product-swatch .product-swatch-inner .favProdPdp {
    top: 250px;
    right: 55px;
}
}
@media(max-width: 320px) {
.product-detail-layout-6 .dual-button {
    flex-direction: column!important;
}
}

@media (min-width:1025px){
	.for-mobile-only{
		display: none !important;
	}
}							